.modal__form {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.modal__label {
  display: flex;
  flex-direction: column;
  row-gap: 4px;
}

.modal__input {
  border-radius: 8px;
  border: none;
  height: 28px;
  text-indent: 8px;
}
