.modal__submit-btn {
  height: 40px;
  width: 120px;
  border-radius: 12px;
  background-color: white;
  border: 1px solid rgb(70, 69, 69);
}

.modal__submit-btn:hover {
  background-color: rgb(20, 20, 214);
  border: 1px white solid;
  transition-duration: 0.5s;
  color: white;
}

.modal__change-form {
  height: 40px;
  width: 120px;
  border-radius: 12px;
  background-color: white;
  border: 1px solid rgb(70, 69, 69);
}

.modal__change-form:hover {
  background-color: rgb(169, 50, 13);
  color: white;
  transition-duration: 0.5s;
}

.button__container {
  display: flex;
  margin-top: 45px;
  justify-content: space-between;
}
